* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    height: 100vh;
    justify-content: center;

}

div {
    gap: 2px;
    background-size: contain;
    background-repeat: no-repeat;



}

.box {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 70px;
    flex-wrap: wrap;
    margin-left: 40px;
    gap: 4px;
    grid-template-columns: repeat(2, 0.2fr 0.2fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-row-start: 2;
}

h1 {
    text-align: center;
    margin: 10px;
}

img {
    width: 50%;
    border-radius: 3vmin;
}

button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 211, 251);
  color: black; 
  padding: 15px 32px;

}

p{
    text-align: center;
    margin: 5px;
}