* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    height: 100vh;
    justify-content: center;

}

div {
    gap: 2px;
    background-size: contain;
    background-repeat: no-repeat;


}

.box {
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 70px;
    flex-wrap: wrap;
    gap: 4px;
    grid-template-columns: repeat(2, 0.2fr 0.2fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-row-start: 2;
}

h1 {
    text-align: center;
}

img {
    width: 50%;
    border-radius: 3vmin;
}

